.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
*.local

.venv/
venv/
ENV/
env/
bin/
lib/
include/
.Python

**/__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

node_modules/
jspm_packages/
web_stage/

dist/
dist-ssr/
build/
out/
.vite/
.nuxt
.next
.svelte-kit
.turbo
.eslintcache
.stylelintcache
*.tsbuildinfo

.docker/
postgres_data/

backend/media/*
!backend/media/.gitkeep

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?