fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
pillow
psycopg2-binary
python-dotenv
pydantic-settings
pyjwt
pytest==8.1.1
httpx==0.27.0